<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET Core Empty - MVC</title>
    <link rel="stylesheet" href="/site.css">
</head>
<body>
    <h1>ASP.NET Core Empty Projesine Hoş Geldiniz!</h1>

</body>
</html>